html,
body {
    margin: 0px;
    padding: 0px;
    background-color: burlywood;
}

h1,
h2 {
    color: maroon;
    text-align: center;
    border: maroon 2px solid;
    margin-left: 200px;
    margin-right: 200px;
}

img {
    border: 2px solid red;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article {
    background-color: saddlebrown;
}

aside {
    color: sienna;
    margin-left: 200px;
}